.tileset *,
.tilemap *
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tileset .tile,
.tilemap .tile
{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-clip: border-box;
	background-origin: border-box;
	background-image: -moz-element(#canvas);
}
.tileset .tile.selected
{
	border: 2px dotted lime;
}
.tilemap
{
	position: relative;
}
.tilemap .tile
{
	position: absolute;
	width: 32px;
	height: 32px;
}
