#canvas
{
	position: absolute;
	left: -999999px;
}
.tileset
{
	width: calc(16px * 8);
	line-height: 0;
}
.tileset .tile,
.tilemap .tile
{
	width: 16px;
	height: 16px;
}
.tilemap .bad-hash
{
	border: 1px solid yellow;
	background-image: none;
	animation: bad-hash 0.8s steps(2, end) 0s infinite;
}
@keyframes bad-hash
{
	from
	{
		background-color: red;
	}
	to
	{
		background-color: darkred;
	}
}
